---
settings:
  # List of calendar ids to read from. You must have access to these calendars.
  # Can also be e-mail addresses.
  calendar_id:
    - primary

  # keyworkds to not include in OOO search
  exclude_keywords:
    - gym
    - lunch

  # OOO keywords to look into event names
  keywords:
    - vacation
    - ooo
    - out of office
    - day off
    - pto
    - intermission

  # Period of time to check for events
  # DAY, WEEK, MONTH, YEAR
  period: MONTH
